/* .list-container {
  margin-top: 10px;
}

.play-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.genre-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  height: 85px;
  width: 150px;
  margin-right: 20px;
}

.delete-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.duration {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 22px;
  margin-right: 15px;
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
}

.delete {
  color: #ffffff;
  height: 22px;
  margin-right: 20px;
}

.name {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Roboto';
}

.genre {
  color: #3b82f6;
  font-size: 22px;
  font-family: 'Roboto';
} */

.app-list {
  margin-top: 10px;
}
.play-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.image {
  height: 85px;
  width: 150px;
  margin-right: 20px;
}
.genre-con {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.name {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Roboto';
}
.genre {
  font-size: 22px;
  font-family: 'Roboto';
  color: #3b82f6;
}
.delete-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.duration {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Roboto';
  margin-right: 15px;
}
.button {
  border: none;
  outline: none;
  background-color: transparent;
}
.del {
  color: #ffffff;
  height: 22px;
  margin-right: 20px;
}
